.img-avatar{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.notification img{
  width: 150px;
  height: 150px;
  margin:  0 auto;
  margin-bottom: 30px;
}

.notification h3{
  font-size: 26px !important;
}

.product-thumb .product-image{
  height: 274px !important;
  object-fit: cover;
}
